/* Добавка в header */
.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

/* Кнопка иконка */
.icon-btn {
    background: none;
    border: none;
    color: var(--gold-accent);
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}

.icon-btn:hover {
    color: #fff;
}

#detection-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
